html {
    font-size: 28px;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/rainbow.jpg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    transition: all 0.5s ease;
}

nav.hidden {
    transform: translate3d(0, -100%, 0);
}

.navbar-fixed {
    position: absolute;
    z-index: 9999;
}

nav .nav-wrapper {
    position: relative;
    height: 82px;
    border-bottom: 2px solid black;
    background-color: black;
    border-bottom: 2px solid white;
}

.link-item {
    padding: 0 25px 0px 25px;
    font-family: 'Antic', sans-serif;
    border-radius: 5px;
}

.link-item:hover {
    padding: 0 25px 0px 25px;
    font-family: 'Antic', sans-serif;
    border-radius: 5px;
    background-color: rgba(139, 98, 155, 0.6);
}

.navbar-fixed nav {
    position: fixed;
    height: 82px;
}

.home-link {
    margin-left: 10px;
}

.right a {
    width: 50px;
    height: 50px;
    margin: 10px 14.5px 14px 14px;
    padding: 0;
}

.right {
    border-radius: 5px;
    margin: 5px;
    height: 70px;
}

.right:hover {
    background-color: rgba(139, 98, 155, 0.6);
    border-radius: 5px;
    margin: 5px;
    height: 70px;
}

.social-link-mini {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(133, 240, 133);
    border-radius: 7px;
}

.aboutme-mini {
    margin-right: 10px;
}

.aboutme-mini:hover {
    margin-right: 10px;
}

.header-section {
    margin-bottom: 80px;
}

.banner {
    background-image: url(../images/watercolor1b.jpg);
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    z-index: 999;
    border-bottom: 2px solid white;
}

#banner-phrase1 {
    position: absolute;
    top: 16%;
    left: 35%;
    font-family: 'Antic', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 0px white;
}

#banner-phrase2 {
    position: absolute;
    top: 26%;
    left: 61%;
    font-family: 'Antic', sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 0px white;
}

.border-div {
    text-align: center;
    border-top: 2px solid white;
}

.paper-box {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 17px 32px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
}

.card-title {
    text-align: center;
    font-family: 'Antic', sans-serif;
}

.about-section {
    font-family: 'Antic', sans-serif;
    margin-bottom: 80px;
}

.about-paragraph {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.about-section {
    display: flex;
    align-items: center;
}

.self-photo {
    width: 100%;
    height: auto;
    padding: 28px 10px 18px 10px;
}

.work-section {
    font-family: 'Antic', sans-serif;
    margin-bottom: 80px;
}

.app-title {
    text-align: center;
    color: black;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project {
    width: calc(50% - 10px);
    margin-top: 20px;
}

.project:only-child {
    margin-left: auto;
    margin-right: auto;
}

.work-image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 17px 32px 0 rgba(0, 0, 0, 0.5);
}

.work-image:hover {
    opacity: 0.8;
}

.footer-section {
    font-family: 'Antic', sans-serif;
}

.input-field label {
    color: black;
}

.connect-email {
    text-align: center;
}

.connect-link {
    margin-left: 30%;
}

.social-link {
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid rgb(133, 240, 133);
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 17px 32px 0 rgba(0, 0, 0, 0.5);
}

.social-link:hover {
    opacity: 0.8;
}

.link-title {
    display: inline-block;
    position: absolute;
    margin: 30px;
}

.link-title a {
    color: blue;
    text-decoration: none;
}

.link-title a:hover {
    color: blue;
}

.link-title a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.link-title a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.footer-name {
    padding-top: 55px;
}

/* Media Queries */

@media only screen and (max-width: 1300px) {
    #banner-phrase1,
    #banner-phrase2 {
        font-size: 50px;
    }
    .about-paragraph {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1090px) {
    html {
        font-size: 24px;
    }
    #banner-phrase1 {
        font-size: 45px;
    }
    #banner-phrase2 {
        font-size: 45px;
    }
    .flex-row {
        flex-direction: column;
    }
    .project {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    .about-section {
        display: inline;
    }
    .photo-box {
        margin-top: 20px;
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 900px) {
    body, html {
        /* overflow: auto !important; */
        max-height: 100% !important;
    }
    html {
        font-size: 20px;
    }
    .about-paragraph {
        font-size: 20px;
    }
    #banner-phrase1 {
        left: 10%;
    }
    #banner-phrase2 {
        left: 25%;
    }
    .right,
    .social-link-mini {
        visibility: hidden;
    }
}

@media only screen and (max-width: 550px) {
    .link-item {
        font-size: 20px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .connect-link {
        margin-left: 0;
    }
    .social-link {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 390px) {
    #banner-phrase1 {
        left: 8%;
        font-size: 25;
    }
    #banner-phrase2 {
        left: 14%;
        font-size: 25;
    }
    .about-paragraph {
        font-size: 18px;
    }
}

@media only screen and (max-width: 340px) {
    .link-item {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #banner-phrase1 {
        left: 8%;
        font-size: 20;
    }
    #banner-phrase2 {
        left: 14%;
        font-size: 20;
    }
    .about-paragraph {
        font-size: 18px;
    }
    .link-title {
        margin-left: 0;
    }
}