body {
    background-color:black;
}

p {
    font-size: 28px;
}

nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    transition: all 0.5s ease;
}

nav.hidden {
    transform: translate3d(0, -100%, 0);
}

nav ul li:hover {
    box-shadow:none;
 }

.navbar-fixed {
    position: absolute;
    z-index:9999;
    text-shadow: 1px 2px 1px white;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav .nav-wrapper {
    position: relative;
    width: 490px;
    height: 100%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.link-item {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Antic', sans-serif;
}

.home-link {
    border-bottom-left-radius: 20px;
}

.contact-link {
    border-bottom-right-radius: 20px;
}

.banner {
    background-image: url(../images/watercolor1.jpg);
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
    margin: 0px 0px;
    padding: 70px 0 0 0;
    z-index: 999;
    border-bottom: 1px solid black;
}

#banner-phrase {
    position: absolute;
    padding-left: 40%;
    padding-top: 10%;
    font-family: 'Antic', sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: -o-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: -moz-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: linear-gradient(to right, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-title {
    padding-left: 25%;
    padding-top: 18%;
    font-size: 80px;
    font-family: 'Finger Paint', cursive;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: -o-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: -moz-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    background: linear-gradient(to right, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

/* .row .col.s12 {
    padding: 0 !important;
} */

.about-row {
    font-family: 'Antic', sans-serif;
    background-image: url(../images/watercolor1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.self-photo {
    width: 400px;
}

.contact-div {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 17px 32px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid black;
}

.connect-div {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 17px 32px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid black;
}

.page-footer {
    /* text-align: center; */
    font-family: 'Antic', sans-serif;
    background-image: url(../images/rainbow.jpg);
    background-position: center 27%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-shadow: 1px 2px 1px white;
}

.social-link {
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid rgb(133, 240, 133);
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5), 0 17px 32px 0 rgba(0,0,0,0.5);
}

.link-title {
    display: inline-block;
    position: absolute;
    margin: 30px;
}

a {
    color: blue;
}

@media only screen and (min-width: 200px) {
    html {
        font-size: 28px;
    }

    .contact-link {
        border-bottom-right-radius: none;
    }
}


@media only screen and (max-width: 900px) {
    #banner-title {
        padding-left: 25%;
        padding-top: 30%;
        font-size: 70px;
        font-family: 'Finger Paint', cursive;
        background: red;
        background: -webkit-linear-gradient(left, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
        background: -o-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
        background: -moz-linear-gradient(right, orange, yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
        background: linear-gradient(to right, orange , yellow, rgb(133, 240, 133), cyan, rgb(31, 100, 228), rgb(178, 46, 218));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px black;
    }
}
