html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.row {
    margin: 0;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

nav {
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
}

nav.hidden {
    transform: translate3d(0, -100%, 0);
}

.navbar-fixed {
    position: absolute;
    z-index: 9999;
}

nav .nav-wrapper {
    position: relative;
    height: 78px;
    background-color: black;
    border-bottom: 3px solid rgb(255, 208, 106);
}

.link-item {
    padding: 0 25px 0px 25px;
    font-family: 'Antic', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.link-item:hover {
    padding: 0 25px 0px 25px;
    font-family: 'Antic', sans-serif;
    border-radius: 5px;
    background-color: rgb(162, 218, 247);
}

.navbar-fixed nav {
    position: fixed;
    height: 82px;
}

.home-link {
    margin-left: 10px;
}

.right a {
    width: 50px;
    height: 50px;
    margin: 10px 14px 14px 14px;
    padding: 0;
}

.right {
    border-radius: 5px;
    margin-top: 5px;
    height: 70px;
}

.social-link-mini {
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

.social-link-mini:hover {
    transform: scale(1.2, 1.2);
}

.social-link-mini:active {
    transform: scale(0.8, 0.8);
}

.aboutme-mini {
    margin-right: 10px;
    transform: scale(1.1, 1.1);
}

.aboutme-mini:hover {
    margin-right: 10px;
    transform: scale(1.1, 1.1);
}

.banner {
    background-image: url(../images/laguna.jpg);
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(255, 208, 106);
}

.title {
    position: absolute;
    margin-top: -30px;
}

#banner-phrase1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 60px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(255, 208, 106);
    -webkit-text-stroke: 2px rgb(255, 208, 106);
}

.subtitle {
    position: absolute;
    margin-top: 70px;
}

#banner-phrase2 {
    font-family: 'Spicy Rice', cursive;
    font-size: 32px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(255, 208, 106);
    -webkit-text-stroke: 1px rgb(255, 208, 106);
}

.border-div {
    text-align: center;
    border-top: 2px solid white;
}

.paper-box {
    background-color: white;
}

.card-title {
    text-align: center;
    font-family: 'Antic', sans-serif;
    font-size: 34px;
    margin: 0;
    padding-top: 30px;
}

.about-box {
    min-height: 600px;
    background-image: linear-gradient(to right, rgb(162, 218, 247), rgb(236, 245, 250), white, white, white, rgb(236, 245, 250), rgb(162, 218, 247));
}

.separation {
    border-bottom: 2px solid rgb(255, 208, 106);
    width: 40%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.about-writing-section {
    display: flex;
}

.writing-section {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}

.card-paragraph {
    font-size: 19px;
    font-family: "Segoe UI";
    padding: 10px 0;
}

.card-paragraph:first-of-type {
    padding-top: 30px;
}

.self-photo {
    width: 500px;
    height: auto;
    padding: 38px 0 25px 25px;
}

.photo-section-1 {
    height: 500px;
    background-image: url(../images/portland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.skills-box {
    display: inline-block;
    text-align: center;
    padding-bottom: 22px !important;
    min-height: 600px;
    background-image: linear-gradient(to right, rgb(162, 218, 247), rgb(236, 245, 250), white, white, white, rgb(236, 245, 250), rgb(162, 218, 247));
}

.skills-inner-box {
    width: 60%;
    margin: 0 auto !important;
}

.skills-paragraph {
    padding: 30px 0;
    text-align: left;
}

.icon-div {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.skills-icon-row3 {
    margin-bottom: 0;
}

.skills-image {
    width: 80px;
    height: auto;
}

.skills-label {
    font-size: 1rem;
    margin-top: 0;
}

#css3 {
    width: 69px;
}

#javascript {
    width: 70px;
}

#materialize {
    width: 100px;
    margin-bottom: 12px;
}

#heroku {
    width: 69px;
}

#mern {
    width: 100px;
    margin-bottom: -10px;
}

#mysql {
    width: 90px;
    margin-bottom: 18px;
}

#mongodb {
    width: 86px;
}

.photo-section-2 {
    height: 500px;
    background-image: url(../images/solvang.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.work-box {
    padding-bottom: 20px !important;
    background-image: linear-gradient(to right, rgb(162, 218, 247), rgb(236, 245, 250), white, white, white, rgb(236, 245, 250), rgb(162, 218, 247));
}

.app-title {
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: "Segoe UI";
    padding-top: 8px;
}

.project {
    width: calc(50% - 10px);
    margin-top: 20px;
}

.project:only-child {
    margin-left: auto;
    margin-right: auto;
}

.work-image {
    width: 100%;
    border-radius: 10px;
}

.work-image:hover {
    opacity: 0.7;
}

.work-card-paragraph {
    font-size: 19px;
    font-family: "Segoe UI";
    padding: 10px 0;
}

.github-repo {
    font-size: 19px;
    font-family: "Segoe UI";
    position: relative;
    padding-bottom: 20px;
    color: blue;
    text-decoration: none;
}

.github-repo:hover {
    color: blue;
}

.github-repo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 14px;
    left: 0;
    background-color: blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.github-repo:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.photo-section-3 {
    height: 500px;
    background-image: url(../images/redondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.connect-section {
    font-family: 'Antic', sans-serif;
    border-top: 3px solid rgb(255, 208, 106);
}

.connect-box {
    margin-bottom: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgb(162, 218, 247), rgb(236, 245, 250), white, white, white, rgb(236, 245, 250), rgb(162, 218, 247));
}

.input-field label {
    color: black;
}

.connect-email {
    text-align: center;
}

.connect-list {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 80px;
}

.connect-list a {
    margin: 0 30px;
}

.jelly-div {
    text-align: center;
    position: relative;
    display: inline;
}

.jelly-logo {
    max-width: 70px;
}

.jelly-div .footnote {
    visibility: hidden;
    width: 500px;
    font-size: 16px;
    color: black;
    background-color: rgb(255, 208, 106);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
}

.jelly-div:hover .footnote {
    visibility: visible;
}

.footer {
    font-size: 14px;
    font-family: "Segoe UI";
    margin: 0;
}

/* Media Queries */

@media only screen and (max-width: 1600px) {
    .about-writing-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .writing-section {
        max-width: 75%;
    }
    .self-photo {
        max-width: 450px;
        padding: 25px 25px 0 25px;
    }
}

@media only screen and (max-width: 1200px) {
    .self-photo {
        max-width: 400px;
    }
    .writing-section {
        width: 90%;
    }
}

@media only screen and (max-width: 1090px) {
    .right,
    .social-link-mini {
        visibility: hidden;
    }
    .jelly-div:hover .footnote {
        visibility: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .card-paragraph {
        font-size: 16px;
    }
    .work-card-paragraph {
        font-size: 16px;
    }
    .github-repo {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .link-title {
        display: inline-block;
        position: absolute;
        margin: 30px;
        margin-left: 10px;
    }
    .self-photo {
        max-width: 350px;
    }
}

@media only screen and (max-width: 550px) {
    .link-item {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }
    #banner-phrase1 {
        font-size: 42px;
    }
    #banner-phrase2 {
        font-size: 30px;
    }
    .self-photo {
        max-width: 314px;
    }
    .card-paragraph {
        font-size: 14px;
    }
    .photo-section-1 {
        background-attachment: scroll;
    }
    .photo-section-2 {
        background-attachment: scroll;
    }
    .photo-section-3 {
        background-attachment: scroll;
    }
    .work-card-paragraph {
        font-size: 14px;
    }
    .github-repo {
        font-size: 14px;
    }
    .skills-image {
        -webkit-transform: scale(0.6);
        /* Saf3.1+, Chrome */
        -moz-transform: scale(0.6);
        /* FF3.5+ */
        -ms-transform: scale(0.6);
        /* IE9 */
        -o-transform: scale(0.6);
        /* Opera 10.5+ */
        transform: scale(0.6);
        /* IE6–IE9 */
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713, SizingMethod='auto expand');
    }
    .icon-div {
        padding: 0 !important;
    }
    .skills-inner-box {
        width: 100%;
        margin: 0 auto !important;
    }
    .github-repo {
        font-size: 14px;
    }
    .photo-section-1 {
        height: 300px;
    }
    .photo-section-2 {
        height: 300px;
    }
    .photo-section-3 {
        height: 300px;
    }
    .connect-list a {
        margin: 0 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 390px) {
    #banner-phrase1 {
        font-size: 25;
    }
    #banner-phrase2 {
        font-size: 25;
    }
    .link-item:hover {
        background-color: black;
    }
    .work-image:hover {
        opacity: 1;
    }
    .social-link:hover {
        opacity: 1;
    }
    .link-title a:before,
    .github-repo:before {
        background-color: white;
    }
    .self-photo {
        max-width: 276px;
    }
}

@media only screen and (width: 390px) {
    .link-item:hover {
        background-color: black;
    }
    .work-image:hover {
        opacity: 1;
    }
    .social-link:hover {
        opacity: 1;
    }
    .link-title a:before,
    .github-repo:before {
        background-color: white;
    }
}

@media only screen and (width: 360px) {
    .self-photo {
        max-width: 262px;
    }
}

@media only screen and (max-width: 340px) {
    .link-item {
        padding-left: 5px;
        padding-right: 5px;
    }
    #banner-phrase2 {
        font-size: 24px;
    }
    .self-photo {
        max-width: 220px;
    }
    .connect-list a {
        font-size: 12px;
    }
}